# Default ignored files
.idea/shelf/
.idea/workspace.xml
lupobot-core/src/main/resources/config.json
lupobot-core/target/
lupobot-launcher/target/
lupobot-plugins/target/
lupobot-plugins/lupobot-plugin-music/target/
lupobot-plugins/lupobot-plugin-help/target/
lupobot-plugins/lupobot-plugin-fun/target/
lupobot-plugins/lupobot-plugin-logging/target/
lupobot-plugins/lupobot-plugin-ticket/target/